@mixin button($fc: #000, $bc: #FFF) {
  border: 1px solid $fc;
  border-radius: 8px;
  color: $fc;
  background-color: $bc;
  text-decoration: none;
  padding: 5px 10px;

  &:hover {
    color: $bc;
    background-color: $fc;
  }
}